<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>{{seo}}</title>
</head>

<body>
<header>
    <h1>Listy do Świętego Mikołaja</h1>
    <hr>
    <nav>
        <ul class="menu">
            <li><a href="/child" target="_self" rel="noopener noreferrer">
                Dzieci</a></li>
            <li><a href="/gifts" target="_self" rel="noopener noreferrer">
                Prezenty</a></li>
        </ul>
    </nav>
    <hr>
</header>