{{>head seo='Lista prezentów'}}

    <h1>Lista prezentów</h1>
    <ul>
        {{#each gifts}}
            <li>
                {{this.name}}: {{this.count}}, 
               

            </li>
        {{/each}}
    </ul>

<h2>Dodaj prezent</h2>
<form action="/gifts" method="POST">
    <label for="">
        Nazwa:
        <input name="name">
    </label>
    <label for="">
        Ilość:
        <input name="count" type=" " min="1">
        {{#if error}}
        {{error}}
        {{/if}}
    </label>
    <button type="submit">Dodaj</button>
</form>